.phlipped .flipper {
  transform: rotateY(180deg);
}
.match .flipper {
  transform: rotateY(180deg);
}

.hidden {
  display: none;
}

.front {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  background-image: url("../images/instagram_icon_large.png");
  background-size: 100%; 
}

.back {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  background-image: url("../images/avatar.png");
  background-size: 100%; 
}

/* entire container, keeps perspective */
.flip-container {
  width: 180px;
  height: 180px;
  perspective: 1000;
}

.front, .back {
  width: 150px;
  height: 150px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}