.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

.progress {
  border-radius: 0px;
  height: 30px;
}

#tag {
  font-size: 20px;
}

#tag.a-spacer:hover {
  color: white;
}

.left {
  width: 45%;
}

.center {
  width: 10%;
}

.right {
  width: 45%;
}

.navbar-brand {
  font-size: 22px;
}

.right form {
  padding-right: 30px;
}

.progress > * {
  height: 100%;
}

#css-remaining-bar {
  background-color: #f39c12;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 30px;
  z-index: -1;
}

#css-progress-bar {
  background-color: #18bc9c;
  width: 100%;
  transition: width 45s linear;
}

#css-progress-bar.transition {
  width: 0%;
}