* {
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
}
body {
  margin: 0px;
}
th {
  width: 25%;
}

#cards {
  /*height: 100%;*/
  width: 100%;
}

.row {
  display: flex;
}

.hidden {
  display: none;
}


