  <div class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand" href="#">Photographic Memory</span>
    </div>

    <div class="nav navbar-nav navbar-left">
        <ul class="nav navbar-nav">
          <li><a class="spacer"></a></li>
          <li>
            <a>#
              <% if @tag %>
                <%= @tag %>
              <% else %>
                popular
              <% end %>
            </a>
          </li>
        </ul>
    </div>

    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <form class="navbar-form navbar-right" method="get" action="/search">
        <input type="text" class="form-control col-lg-8" placeholder="#Hashtag Search" name="search">
      </form>
    </div>
  </div>
  <div id='card-template' style='display: hidden;' class='flip col-xs-3'>
    <div class='card'>
      <div class='front-wrap'>
        <div class="front"></div>
      </div>
      <div class='back-wrap'>
        <div class="back"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="panel panel-primary">
      <div class="overlay"></div>
      <div class="panel-body">
        <button id="play_button" class="btn btn-info start">Play Now</button>
      </div>

      <div id="cards"><div class='row'></div></div>
        
      <h3 id="timer"></h3>
    </div>



  </div>
