  <div class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Instamemory</a>
    </div>
  </div>
  <div id='card-template' style='display: hidden;' class='flip col-xs-3'>
    <div class='card'>
      <div class='front-wrap'>
        <div class="front"></div>
      </div>
      <div class='back-wrap'>
        <div class="back"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="panel panel-primary">
      <div class="overlay"></div>
      <div class="panel-body">
        <button id="play_button" class="btn btn-success start">Play Now</button>
      </div>

      <div id="cards"><div class='row'></div></div>
        
      <h3 id="timer"></h3>
    </div>



  </div>
