<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/skeleton.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/navstyle.css">
  <link rel="stylesheet" href="/stylesheets/panelstyle.css">
  <link rel="stylesheet" href="/stylesheets/application.css">

  <link rel="shortcut icon" href="images/instagram_favicon.ico">

  <%= include_gon %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/script.js"></script>

  <title>Photographic Memory</title>
</head>

<body>
<!--   <div class="navbar navbar-default">
    <div class="navbar-header left">
      <a class="navbar-brand" href="/">Photographic Memory</a>
    </div>
    <div class="nav navbar-nav center">
      <ul class="nav navbar-nav">
        <li class='li-spacer'>
          <a class='a-spacer' id="tag">#<% if @tag %><%= @tag %><% else %>popular<% end %></a>
        </li>
      </ul>
    </div>
    <div class="nav navbar-nav right">
      <form  class="navbar-form navbar-right" method="get" action="/search">
        <input id='search_bar' type="text" placeholder="#Hashtag Search" name="search">
      </form>
    </div>
  </div> -->
  <%= yield %>
</body>
</html>
