<div class="container">
  <div class="panel panel-primary">
    <div class="overlay"></div>
    <div class="panel-body">
      <% @leaders.each do |leader| %>
        <%= leader.name %>
      <% end %>
    </div>
</div>
